<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title>Lista de series</title>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Lista</h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
                <li class="breadcrumb-item"><a th:href="@{/serie/lista}">Pesquisar serie</a></li>
            </ul>
        </div>
        <div class="container">
			<div class="tile">
                <div class="tile-body">
					<div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div th:replace="fragments/alert"></div>
							</div>
						</div>
						<div class="row row-cols-1 row-cols-md-3">
							<div class="col mb-4" th:each="serie :${pagina.conteudo}">
								<div class="card h-100">
									<img src="http://lorempixel.com/output/abstract-q-c-640-480-2.jpg" class="card-img" alt="...">
									<div class="card-body">
										<h5 class="card-title" th:text="*{serie.nome}"></h5>
										<p class="card-text" th:text="*{serie.enredo}"></p>
										<a title="Detalhes" th:href="@{/serie/detalhes/{id}(id=${serie.id})}" class="btn btn-warning btn-sm btn-block"><i class="fa fa-search-plus"></i>Detalhes</a>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<!-- <table class="table table-bordered table-hover" id="sampleTable" serie="grid" aria-describedby="sampleTable_info">
									<thead>
										<tr>
											<th scope="col">Name</th>
											<th scope="col" style="text-align: center;">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="serie :${pagina.conteudo}">
											<td data-tile="nome" th:text="*{serie.nome}"></td>
											<td data-tile="Detalhes" style="text-align: center;">
												<a title="Detalhes" th:href="@{/serie/detalhes/{id}(id=${serie.id})}" class="btn btn-warning btn-sm btn-block"><i class="fa fa-search-plus"></i>Detalhes</a>
											</td>
										</tr>
									</tbody>
								</table> -->
								<div th:replace="fragments/pagination :: pagination"></div>
								<a title="Adicionar" class="btn btn-success" th:href="@{/serie/cadastro}"><i class="fa fa-plus-circle"></i>Adicionar</a>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script>
			$(document).ready(function(){
				changePageAndSize();
			});
			
			function changePageAndSize(){
				$('#pageSizeSelect').change(function(e){
					window.location.replace("/serie/lista?size="+this.value+"&page=0");
				});
			}
		</script>
	</th:block>
</body>
</html>