<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}">
<head>
    <title>Serie</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Serie</h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item">Série</li>
                <li class="breadcrumb-item">Temporada</li>
                <li class="breadcrumb-item"><a th:href="@{#}">Alterar</a></li>
            </ul>
        </div>
        <div class="container">
			<div class="tile" th:object="${serie}">
				<h3 class="tile-title" th:text="*{nome}">Serie</h3>
                <div class="tile-body tile-footer">
                    <label class="control-label">Enredo</label>
                    <h4 th:text="*{enredo}"></h4>
                    <label class="control-label">Ano</label>
                    <h4 th:text="*{ano}"></h4>
                    <label class="control-label">Restrição de idade</label>
                    <h4 th:text="*{restricao}"></h4>
                    <label class="control-label">Serviço</label>
                    <!-- <h4 th:text="${serie.servico.nome}"></h4> -->
                    <label class="control-label">Quantidade de temporadas</label>
                    <h4 th:text="*{qtdTemporadas}"></h4>
                    <label class="control-label">Quantidade de seguidores</label>
                    <h4 th:text="*{qtdSeguidores}"></h4>
                    <label class="control-label">Categorias</label>
                    <div th:each="categoria : *{categorias}">
                        <h4 th:text="*{categoria.nome}"></h4>
                    </div>
                </div>
                <label class="control-label">Temporadas</label>
                <div class="form-row" th:each="temporada : ${temporadas}">
                    <div class="col-md-2 mb-1">
                        <a th:href="@{/serie/temporada/detalhes/{id}(id=${temporada.id})}" type="button" class="btn btn-primary">Temporada <span class="badge badge-light" th:text="' ' + ${temporada.numero}"></span> <span class="badge badge-light" th:text="${temporada.ano}"></span></a>
                    </div>
                    <div class="col-md-2 mb-1">
                        <a th:href="@{/serie/temporada/deletar/{id}(id=${temporada.id})}" type="button" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <form class="form-row" th:action="@{/serie/{id}/temporadas(id=${serie.id})}" method="POST">
                    <div class="col-md-3 mb-3">
                        <input class="form-control" type="number" id="numero" name="numero" autofocus placeholder="Número"/>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="number" id="ano" name="ano" placeholder="Ano"/>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary" type="submit">Adicionar</button>                        
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>