<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title>Detalhes da episodio</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Detalhes</i></h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
                <li class="breadcrumb-item"><a th:href="@{/episodio/lista}">Pesquisar episodio</a></li>
            </ul>
        </div>
        <div class="container">
			<div class="tile">
				<h3 class="tile-title" th:object="${episodio}" th:text="'Episodio ' + *{numero}"></h3>
                <div class="tile-body tile-footer">
                    <form th:object="${episodio}">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label class="control-label">Nome</label>
									<h4 th:text="*{nome}"></h4>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label class="control-label">Numero</label>
									<h4 th:text="*{numero}"></h4>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label class="control-label">Enredo</label>
									<h4 th:text="*{enredo}"></h4>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label class="control-label">Duração</label>
									<h4 th:text="*{duracao}"></h4>
								</div>
							</div>
						</div>
						<!-- <div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label class="control-label">Publicação</label>
									<h4 th:text="*{publicacao}"></h4>
								</div>
							</div>
						</div> -->
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label class="control-label">Avaliação</label>
									<h4 th:text="*{avaliacao}"></h4>
								</div>
							</div>
						</div>
                        <div class="tile-footer">
							<a title="Alterar" class="btn btn-info btn-lg fa fa-pencil" th:href="@{/serie/temporada/episodio/alterar/{id}(id=${episodio.id})}" aria-hidden="true" episodio="button"></a>
							<a title="Remover" class="btn btn-danger btn-lg fa fa-trash" th:href="@{/serie/temporada/episodio/remover/{id}(id=${episodio.id})}" aria-hidden="true" episodio="button"></a>
							<a title="Fechar" class="btn btn-secondary btn-lg fa fa-times-circle" th:href="@{/serie/temporada/detalhes/{id}(id=${episodio.temporada.id})}" aria-hidden="true" episodio="button"></a>
						</div>
                    </form>
                </div>
            </div>
        </div>
	</section>
    <th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/bootstrap-switch.min.js}"></script>
		<script type="text/javascript">
            $('.js-status').bootstrapSwitch();
        </script>
	</th:block>
</body>
</html>