<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}">
<head>
    <title>Alterar episódio</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Alterar episódio</h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item"><a th:href="@{../../../../detalhes}">Série</a></li>
                <li class="breadcrumb-item"><a th:href="@{../../detalhes}">Temporada</a></li>
                <li class="breadcrumb-item"><a th:href="@{./detalhes}">Episódio</a></li>
                <li class="breadcrumb-item"><a href="#salvar">Alterar</a></li>
            </ul>
        </div>
        <div class="container">
			<div class="tile" th:object="${episodio}">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div th:replace="fragments/validation :: validation"></div>
                        <div th:replace="fragments/alert"></div>
                    </div>
                </div>
				<h3 class="tile-title" th:text="'Episodio ' + ${episodio.numero}"></h3>
                <div class="tile-body tile-footer">
                    <form th:action="@{./alterar}" method="POST">
                        <Input type="text" hidden th:field="*{temporada.serie.id}">
                        <Input type="text" hidden th:field="*{temporada.id}">
                        <div class="form-row">
							<div class="col-md-4 mb-3">
                                <label for="numero">Numero</label>
                                <Input required class="form-control" type="text" placeholder="Enter numero" th:field="*{numero}" id="numero" name="numero" th:classappend="${#fields.hasErrors('numero')} ? 'is-invalid'">
                                <div class="invalid-feedback">
                                    <span th:errors="*{numero}"></span>
                                </div>
							</div>
						</div>
                        <div class="form-row">
							<div class="col-md-4 mb-3">
                                <label for="nome">Nome</label>
                                <Input required class="form-control" type="text" placeholder="Enter nome" th:field="*{nome}" id="nome" name="nome" th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'">
                                <div class="invalid-feedback">
                                    <span th:errors="*{nome}"></span>
                                </div>
							</div>
						</div>
                        <div class="form-row">
							<div class="col-md-4 mb-3">
                                <label for="enredo">Enredo</label>
                                <Input required class="form-control" type="text" placeholder="Enter enredo" th:field="*{enredo}" id="enredo" name="enredo" th:classappend="${#fields.hasErrors('enredo')} ? 'is-invalid'">
                                <div class="invalid-feedback">
                                    <span th:errors="*{enredo}"></span>
                                </div>
							</div>
						</div>
                        <div class="form-row">
							<div class="col-md-4 mb-3">
                                <label for="duracao">Duração</label>
                                <Input required class="form-control" type="text" placeholder="Enter duracao" th:field="*{duracao}" id="duracao" name="duracao" th:classappend="${#fields.hasErrors('duracao')} ? 'is-invalid'">
                                <div class="invalid-feedback">
                                    <span th:errors="*{duracao}"></span>
                                </div>
							</div>
						</div>
                        <div id="salvar" class="tile-footer">
							<button class="btn btn-success" type="submit">Salvar</button>
							<button class="btn btn-secondary" type="submit" name="cancelar" formnovalidate>Cancelar</button>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>