<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}">
<head>
    <title>Detalhes da permissão</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Detalhes da permissão</i></h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item">Permissão</li>
                <li class="breadcrumb-item"><a href="#"></a>Detalhes</a></li>
            </ul>
        </div>
        <div class="container" th:object="${permissao}">
			<div class="tile">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div th:replace="fragments/alert"></div>
                    </div>
                </div>
				<h3 class="tile-title" th:text="*{nome}"></h3>
                <div class="tile-body tile-footer">
                    <label class="control-label">Nome</label>
                    <h4 th:text="*{nome}"></h4>
                </div>
                <div class="tile-footer">
                    <a title="Alterar" class="btn btn-info" th:href="@{./alterar}">Alterar</a>
                    <a title="Remover" class="btn btn-danger" th:href="@{./remover}">Remover</a>
                    <a title="Fechar" class="btn btn-secondary" th:href="@{../lista}">Fechar</a>
                </div>
            </div>
        </div>
	</section>
</body>
</html>