<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title>Lista de usuários</title>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Lista</h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
                <li class="breadcrumb-item"><a th:href="@{/direitos/lista}">Pesquisar usuário</a></li>
            </ul>
		</div>
		<div class="container">
			<div class="tile">
                <div class="tile-body">
					<form class="form-inline" method="GET" th:object="${rolePermissaoFilter}">
						<div class="col-sm-12 col-md-2">
							<div class="form-group">
								<input type="text" class="form-control" id="nome" name="nome" th:field="*{role}" placeholder="Role">
							</div>
						</div>
						<div class="col-sm-12 col-md-2">
							<div class="form-group">
								<input type="text" class="form-control" id="permissao" name="permissao" th:field="*{permissao}" placeholder="Permissão">
							</div>
						</div>
						<div class="col-sm-12 col-md-2">
							<div class="form-group">
								<input type="text" class="form-control" id="escopo" name="escopo" th:field="*{escopo}" placeholder="Escopo">
							</div>
						</div>
						<div class="col-md-1">
							<button type="submit" class="btn btn-md btn-primary">Pesquisar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
        <div class="container">
			<div class="tile">
                <div class="tile-body">
					<div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div th:replace="fragments/alert"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<table class="table table-bordered table-hover" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
									<thead>
										<tr>
											<th scope="col">Role</th>
											<th scope="col">Permissao</th>
											<th scope="col">Escopo</th>
											<th scope="col" style="text-align: center;">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="rolePermissao :${lista}">
											<td data-tile="Grupo" th:text="*{rolePermissao.role.nome}"></td>
											<td data-tile="Permissão" th:text="*{rolePermissao.permissao.nome}"></td>
											<td data-tile="Permissão" th:text="*{rolePermissao.escopo.nome}"></td>
											<td data-tile="Remover" style="text-align: center;">
												<a title="Remover" th:href="@{/direitos/remover/{role}/{permissao}/{escopo}(role=${rolePermissao.role.id}, permissao=${rolePermissao.permissao.id}, escopo=${rolePermissao.escopo.id})}" class="btn btn-danger btn-sm btn-block"><i class="fa fa-trash-plus"></i>Remover</a>
											</td>
										</tr>
									</tbody>
								</table>
								<a title="Adicionar" class="btn btn-success" th:href="@{/direitos/cadastro}"><i class="fa fa-plus-circle"></i>Adicionar</a>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script>
			$(document).ready(function(){
				changePageAndSize();
			});
			
			function changePageAndSize(){
				$('#pageSizeSelect').change(function(e){
					window.location.replace("/usuario/lista?size="+this.value+"&page=0");
				});
			}
		</script>
	</th:block>
</body>
</html>