<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template}">
<head>
    <title>Episódios marcados</title>
</head>
<body>
	<main layout:fragment="main">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Episódios marcados</li>
			</ol>
		</nav>
		<div class="container-fluid p-0">
			<h1 class="h3 mb-3">Episódios marcados</h1>
			<div th:replace="fragments/alert"></div>
			<div th:replace="fragments/widgets :: widgets"></div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-2" th:each="serie :${lista}">
					<form th:action="*{title} == 'salvas' ? @{/series/salva} : @{/series/arquivada}" method="POST">
						<div class="card">
							<!-- <img class="card-img-top" th:src="@{${serie.photoImagePath}}" alt="Capa"> -->
							<div class="card-header px-4 pt-4">
								<a th:href="@{/series/{id}/detalhes(id=${serie.id})}"><h5 class="h6 card-title" th:text="*{serie.nome} + ' - ' + *{serie.ano}"></h5></a>
								<a class="badge badge-primary mr-1 my-1" th:each="categoria : *{serie.categorias}" th:href="@{/categoria/{id}(id=*{categoria.id})}" th:text="*{categoria.nome}"></a>
							</div>
							<div class="card-body">
								<button th:class="*{title == 'salvas' ? 'btn btn-secondary' : 'btn btn-success'}" type="submit" th:name="*{title == 'salvas' ? 'arquivar' : 'desarquivar'}" th:value="*{serie.id}" th:text="*{title == 'salvas'} ? 'Arquivar' : 'Desarquivar'"></button>
								<button class="btn btn-danger" type="submit" name="remover" th:value="*{serie.id}">Remover</button>
								<!-- <button th:class="${serie.salva} ? 'btn btn-secondary' : (${serie.arquivada} ? 'btn btn-secondary' : 'btn btn-success')" type="submit" th:name="${serie.salva} ? 'arquivar' : (${serie.arquivada} ? 'desarquivar' : 'salvar')" th:value="${serie.id}" th:text="${serie.salva} ? 'Arquivar' : (${serie.arquivada} ? 'Desarquivar' : 'Salvar')"></button>
								<button th:if="${serie.salva} OR ${serie.arquivada}" class="btn btn-danger" type="submit" name="remover" th:value="*{serie.id}">Remover</button> -->
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<th:block layout:fragment="javascript-extra">
	</th:block>
</body>
</html>


<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layoutUsuario}">
<head>
    <title>Episódios marcados</title>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Episódios marcados</h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item">Episódios</li>
                <li class="breadcrumb-item"><a href="#">Listar</a></li>
            </ul>
		</div>
		<div th:replace="fragments/widgets :: widgets"></div>
		<div class="tile">
			<div class="tile-body">
				<div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div th:replace="fragments/alert"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-hover" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
								<thead>
									<tr>
										<th scope="col">Episodio</th>
										<th scope="col">Temporada</th>
										<th scope="col">Série</th>
										<th scope="col" style="text-align: center;">Dermarcar</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="usuarioEpisodio :${lista}">
										<td data-tile="Episodio" th:text="${usuarioEpisodio.nome}"></td>
										<td data-tile="Temporada" th:text="${usuarioEpisodio.temporada.numero}"></td>
										<td data-tile="Série" th:text="${usuarioEpisodio.temporada.serie.nome}"></td>
										<td data-tile="Dermarcar" style="text-align: center;">
											<form th:action="@{/episodios}" method="POST">
												<div class="col-md mb-1">
													<button class="btn btn-danger" type="submit" name="desmarcar" th:value="${usuarioEpisodio.id}">Desmarcar</button>
												</div>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script>
			$(document).ready(function(){
				changePageAndSize();
			});

			function changePageAndSize(){
				$('#pageSizeSelect').change(function(e){
					window.location.replace("/usuario/lista?size="+this.value);
				});
			}
		</script>
	</th:block>
</body>
</html>