<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}">
<head>
    <title>Episódios marcados</title>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Episódios marcados</h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item">Episódios</li>
                <li class="breadcrumb-item"><a href="#">Listar</a></li>
            </ul>
		</div>
		<div class="tile">
			<div class="tile-body">
				<div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div th:replace="fragments/alert"></div>
						</div>
					</div>
					<!-- <div class="form-row">
						<form method="GET" th:object="${rolePermissaoFilter}">
							<div class="input-group mb-3">
								<input type="text" class="form-control" id="nome" name="nome" th:field="*{role}" placeholder="Role" aria-label="Role">
								<input type="text" class="form-control" id="permissao" name="permissao" th:field="*{permissao}" placeholder="Permissão" aria-label="Permissão">
								<div class="input-group-append">
									<button class="input-group-text">Pesquisar</button>
								</div>
							</div>
						</form>
					</div> -->
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-hover" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
								<thead>
									<tr>
										<th scope="col">Episodio</th>
										<th scope="col">Temporada</th>
										<th scope="col">Série</th>
										<th scope="col" style="text-align: center;">Detalhes</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="usuarioEpisodio :${lista}">
										<td data-tile="Episodio" th:text="${usuarioEpisodio.numero}"></td>
										<td data-tile="Temporada" th:text="${usuarioEpisodio.temporada.numero}"></td>
										<td data-tile="Série" th:text="${usuarioEpisodio.temporada.serie.nome}"></td>
										<td data-tile="Remover" style="text-align: center;">
											<a title="Remover" th:href="@{./episodios/remover/{usuario}/{episodio}(usuario=${usuarioLogado.getUsuario().getId()}, episodio=${usuarioEpisodio.id})}" class="btn btn-danger btn-sm">Remover</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script>
			$(document).ready(function(){
				changePageAndSize();
			});

			function changePageAndSize(){
				$('#pageSizeSelect').change(function(e){
					window.location.replace("/usuario/lista?size="+this.value+"&page=0");
				});
			}
		</script>
	</th:block>
</body>
</html>