<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template}">
<head>
    <title>Episódios marcados</title>
</head>
<body>
	<main layout:fragment="main">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Episódios marcados</li>
			</ol>
		</nav>
		<div class="container-fluid p-0">
			<h1 class="h3 mb-3">Episódios marcados</h1>
			<div th:replace="fragments/alert"></div>
			<div th:replace="fragments/widgets :: widgets"></div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="table-responsive">
							<form th:action="@{/acao}" method="POST">
								<table class="table mb-0 table-hover" aria-describedby="Listagem de episódios marcados">
									<tbody>
										<tr th:each="episodio : ${lista}">
											<th scope="row" th:text="'Episódio ' + ${episodio.numero}"></th>
											<td th:text="${episodio.nome}"></td>
											<td th:text="${episodio.temporada.serie.nome}"></td>
											<td th:text="'Temporada ' + ${episodio.temporada.numero}"></td>
											<td th:text="${episodio.duracao} + ' min.'"></td>
											<td>
												<button class="btn badge badge-danger text-white" type="submit" name="desmarcar" th:value="${episodio.id}">Desmarcar</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<th:block layout:fragment="javascript-extra">
	</th:block>
</body>
</html>