<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layoutUsuario}">
<head>
    <title>Detalhes do usuário</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Detalhes do usuário</i></h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item">Usuário</li>
                <li class="breadcrumb-item"><a href="#">Detalhes</a></li>
            </ul>
        </div>
		<div class="tile" th:object="${usuario}">
			<h3 class="tile-title" th:text="*{nome} + ' ' + *{sobrenome}"></h3>
			<div class="tile-body tile-footer">
				<label class="control-label">Nome</label>
				<h4 th:text="*{nome} + ' ' + *{sobrenome}"></h4>
				<label class="control-label">Username</label>
				<h4 th:text="*{username}"></h4>
				<label class="control-label">Email</label>
				<h4 th:text="*{email}"></h4>
				<label class="control-label">Gênero</label>
				<h4 th:text="*{genero.descricao}"></h4>
				<div class="tile-footer">
					<button title="Editar" class="btn btn-info" onclick="document.location='/conta/alterar'">Editar</button>
					<button title="Voltar" class="btn btn-secondary" onclick="document.location='../'">Voltar</button>
				</div>
			</div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/bootstrap-switch.min.js}"></script>
		<script>
            $('.js-status').bootstrapSwitch();
        </script>
	</th:block>
</body>
</html>