<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}">
<head>
    <title>Lista de categorias</title>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Lista de categorias</h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item">Categoria</li>
                <li class="breadcrumb-item"><a href="#">Listar</a></li>
            </ul>
        </div>
        <div class="container">
			<div class="tile">
                <div class="tile-body">
					<div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div th:replace="fragments/alert"></div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-1">
								<select class="form-control form-control-md" id="pageSizeSelect">
									<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:selected="${pageSize} == ${size}"></option>
								</select>
							</div>
							<form method="GET" th:object="${categoriaFilter}">
								<div class="input-group mb-3">
									<input type="text" class="form-control" name="nome" id="nome" th:field="*{nome}" placeholder="Nome" aria-label="Nome">
									<div class="input-group-append">
										<button class="input-group-text">Pesquisar</button>
									</div>
								</div>
							</form>
						</div>
						<div class="row">
							<div class="col-md-12">
								<table class="table table-bordered table-hover" id="sampleTable" categoria="grid" aria-describedby="sampleTable_info">
									<thead>
										<tr>
											<th scope="col">Nome</th>
											<th scope="col" style="text-align: center;">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="categoria :${pagina.conteudo}">
											<td data-tile="nome" th:text="${categoria.nome}"></td>
											<td data-tile="Detalhes" style="text-align: center;">
												<a title="Detalhes" th:href="@{./{id}/detalhes(id=${categoria.id})}" class="btn btn-warning btn-sm">Detalhes</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div th:replace="fragments/pagination :: pagination"></div>
								<div class="tile-footer">
									<a title="Adicionar" class="btn btn-success" th:href="@{./cadastro}">Adicionar</a>
									<a title="Download PDF" class="btn btn-success" th:href="@{./download}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Salvar</a>
									<a title="Abrir PDF" class="btn btn-success" th:href="@{./categorias}" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Abrir</a>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script>
			$(document).ready(function(){
				changePageAndSize();
			});

			function changePageAndSize(){
				$('#pageSizeSelect').change(function(e){
					window.location.replace("/categoria/lista?size="+this.value+"&page=0");
				});
			}
		</script>
	</th:block>
</body>
</html>