<header class="app-header" th:fragment="header">
    <a class="app-header__logo" href="/">Televisivo</a>
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <div class="app-nav">
        <a class="app-nav__item" th:href="@{/perfil}">
            <i class="fa fa-user fa-lg" aria-hidden="true"></i>
        </a>
        <a class="app-nav__item" th:href="@{/logout}"></i>
            <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
        </a>
    </div>
</header>

<header class="app-header" th:fragment="headerUsuario">
    <a class="app-header__logo" href="/">Televisivo</a>
    <div class="app-nav">
        <a class="app-nav__item" th:href="@{/perfil}">
            <i class="fa fa-user fa-lg" aria-hidden="true"></i>
        </a>
        <a class="app-nav__item" th:href="@{/logout}"></i>
            <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
        </a>
    </div>
</header>