<nav class="navbar navbar-expand navbar-light navbar-bg" th:fragment="navbar">
    <div class="navbar-nav">
        <a class="nav-link" href="/">
            <span class="align-middle mr-3 text-primary">Televisivo</span>
        </a>
    </div>
    <form class="d-none d-sm-inline-block" th:action="@{/}" method="GET">
        <div class="input-group input-group-navbar">
            <input type="text" class="form-control" placeholder="Pesquise sua série" aria-label="Search" name="nome" id="nome" th:field="${serieFilter.nome}" spellcheck="false" data-ms-editor="true">
            <div class="input-group-append">
                <button class="btn" type="button">
                    <em data-feather="search"></em>
                </button>
            </div>
        </div>
    </form>
    <ul class="navbar-nav">
        <li class="nav-item px-2 dropdown">
            <a class="nav-link dropdown-toggle" id="categoriasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="categoriasDropdown">
                <a class="dropdown-item" th:each="categoria : ${categorias}" th:text="*{categoria.nome}" th:href="@{/categoria/{id}(id=*{categoria.id})}"></a>
            </div>
        </li>
        <li class="nav-item px-2 dropdown">
            <a class="nav-link dropdown-toggle" id="servicosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Serviços </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="servicosDropdown">
                <a class="dropdown-item" th:each="servico : ${servicos}" th:text="*{servico.nome}" th:href="@{/servico/{id}(id=*{servico.id})}"></a>
            </div>
        </li>
    </ul>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" data-toggle="dropdown">
                    <span class="text-dark" th:text="${usuario.username}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/perfil">
                        <em data-feather="user"></em><span>Perfil</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/perfil/configuracoes">Configurações</a>
                    <a class="dropdown-item" href="/logout">Sair</a>
                </div>
            </li>
        </ul>
    </div>
</nav>