<div class="row" th:fragment="pagination">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" role="status" aria-live="polite" th:text="'Mostrando de ' + ${pagina.size * (pagina.number - 1) + 1}  + ' a ' +  ${pagina.ultima ? pagina.totalElementos : pagina.size * (pagina.number - 1)+ pagina.size} + ' de ' + ${pagina.totalElementos} + ' registros.'"></div>
    </div>
    <div class="col-sm-12 col-md-7" th:if="${not pagina.vazia}">
        <div class="dataTables_paginate paging_simple_numbers" id="datatables-clients_paginate">
            <ul class="pagination">
                <li th:class="${pagina.primeira}?'paginate_button page-item previous disabled' : 'paginate_button page-item previous'">
                    <span th:if="${pagina.primeira}" th:class="page-link">Primeira</span>
                    <a th:if="${not pagina.primeira}" th:href="@{${pagina.urlPagina(size, 0)}}" th:class="page-link">Primeira</a>
                </li>
                <li th:class="${pagina.hasPreviousPage}? 'paginate_button page-item' : 'paginate_button page-item disabled'">
                    <span th:if="${not pagina.hasPreviousPage}" th:class="page-link"><span class="fas fa-angle-left"></span></span>
                    <a th:if="${pagina.hasPreviousPage}" th:href="@{${pagina.urlPagina(size, pagina.number-2)}}" th:class="page-link" title="Ir para a pagina anterior"><span class="fas fa-angle-left"></span></a>
                </li>
                <li th:each="item : ${pagina.items}" th:class="${item.current}? 'paginate_button page-item active' : 'paginate_button page-item'">
                    <span th:if="${item.current}" th:text="${item.number}" th:class="page-link">1</span>
                    <a th:if="${not item.current}" th:class="page-link" th:href="@{${pagina.urlPagina(size, item.number-1)}}" th:text="${item.number}"></a>
                </li>
                <li th:class="${pagina.hasNextPage}? 'paginate_button page-item' : 'paginate_button page-item disabled'">
                    <span th:if="${not pagina.hasNextPage}" th:class="page-link">
                    <span class="fas fa-angle-right"></span></span>
                    <a th:if="${pagina.hasNextPage}" th:class="page-link" th:href="@{${pagina.urlPagina(size, pagina.number)}}" title="Ir para a próxima pagina"><span class="fas fa-angle-right"></span></a>
                </li>
                <li th:class="${pagina.ultima}? 'paginate_button page-item next disabled' : 'paginate_button page-item next'">
                    <span th:if="${pagina.ultima}" th:class="page-link">Última</span>
                    <a th:if="${not pagina.ultima}" th:class="page-link" th:href="@{${pagina.urlPagina(size, pagina.total-1)}}">Última</a>
                </li>
            </ul>
        </div>
    </div>
</div>