<nav id="sidebar" class="sidebar collapsed" th:fragment="sidebar_2">
    <div class="sidebar-content js-simplebar" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                            <a class="sidebar-brand" href="/">
                                <span class="align-middle mr-3">Televisivo</span>
                            </a>
                            <ul class="sidebar-nav">
                                <li class="sidebar-header">Plugin &amp; Addons</li>
                                <li class="sidebar-item">
                                    <a href="#form-plugins" data-toggle="collapse" class="sidebar-link collapsed">
                                        <em data-feather="check-square"></em>
                                        <span class="align-middle">Form Plugins</span>
                                    </a>
                                    <ul id="form-plugins" class="sidebar-dropdown list-unstyled collapse "data-parent="#sidebar">
                                        <li class="sidebar-item">
                                            <a class="sidebar-link" href="forms-advanced-inputs.html">Advanced Inputs</a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a class="sidebar-link" href="forms-editors.html">Editors</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="sidebar-nav">
                                <li class="sidebar-header">Segurança</li>
                                <li class="sidebar-item">
                                    <a href="#seguranca" data-toggle="collapse" class="sidebar-link collapsed">
                                        <em data-feather="check-square"></em>
                                        <span class="align-middle">Form Plugins</span>
                                    </a>
                                    <ul id="seguranca" class="sidebar-dropdown list-unstyled collapse "data-parent="#sidebar">
                                        <li class="sidebar-item">
                                            <a class="sidebar-link" href="forms-advanced-inputs.html">Advanced Inputs</a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a class="sidebar-link" href="forms-editors.html">Editors</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>