<nav id="sidebar" th:fragment="nav-sidebar">
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <a class="text-white" th:href="@{/usuario/detalhes/{id}(id=${usuarioLogado.getUsuario().getId()})}">
            <div class="app-sidebar__user">
                    <img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
                    <div>
                        <p class="app-sidebar__user-name" th:text="${usuarioLogado.getUsuario().getNome()} + ' ' + ${usuarioLogado.getUsuario().getSobrenome()}"></p>
                        <p class="app-sidebar__user-designation">Java Developers</p>
                    </div>
            </div>
        </a>
        <ul class="app-menu">
            <li><a class="app-menu__item" th:href="@{/home}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Página Principal</span></a></li>
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Cadastros</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" th:href="@{/serie/lista}"><i class="icon fa fa-circle-o"></i>Série</a></li>
                    <li><a class="treeview-item" th:href="@{/servico/lista}"><i class="icon fa fa-circle-o"></i>Serviço</a></li>
                    <li><a class="treeview-item" th:href="@{/categoria/lista}"><i class="icon fa fa-circle-o"></i>Categoria</a></li>
                    <li><a class="treeview-item" th:href="@{/artista/lista}"><i class="icon fa fa-circle-o"></i>Artista</a></li>
                </ul>
            </li>
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Segurança</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" th:href="@{/role/lista}"><i class="icon fa fa-circle-o"></i>Grupo de Usuário</a></li>
                    <li><a class="treeview-item" th:href="@{/permissao/lista}"><i class="icon fa fa-circle-o"></i>Permissões de Usuário</a> </li>
                    <li><a class="treeview-item" th:href="@{/escopo/lista}"><i class="icon fa fa-circle-o"></i>Escopo de Usuário</a></li>
                    <li><a class="treeview-item" th:href="@{/usuario/lista}"><i class="icon fa fa-circle-o"></i>Usuários</a></li>
                    <li><a class="treeview-item" th:href="@{/direitos/lista}"><i class="icon fa fa-circle-o"></i>Direitos de Acesso</a> </li>
                </ul>
            </li>
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-key"></i><span class="app-menu__label">Alterar Senha</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" th:href="@{/usuario/alterar/{id}(id=${usuarioLogado.getUsuario().getId()})}"><i class="icon fa fa-circle-o"></i>Trocar Senha</a></li>
                </ul>
            </li>
            <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Pages</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu"></ul>
            </li>
        </ul>
    </aside>
</nav>