<nav id="sidebar" th:fragment="nav-sidebar">
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <ul class="app-menu">
            <li class="treeview"><a class="app-menu__item" href="" data-toggle="treeview"><i class="app-menu__icon fa fa-edit" aria-hidden="true"></i><span class="app-menu__label">Categoria</span><i class="treeview-indicator fa fa-angle-right" aria-hidden="true"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" th:href="@{/admin/categoria/cadastro}"></i>Cadastrar</a></li>
                    <li><a class="treeview-item" th:href="@{/admin/categoria/lista}"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview"><a class="app-menu__item" href="" data-toggle="treeview"><i class="app-menu__icon fa fa-edit" aria-hidden="true"></i><span class="app-menu__label">Série</span><i class="treeview-indicator fa fa-angle-right" aria-hidden="true"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" th:href="@{/admin/serie/cadastro}"></i>Cadastrar</a></li>
                    <li><a class="treeview-item" th:href="@{/admin/serie/lista}"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview"><a class="app-menu__item" href="" data-toggle="treeview"><i class="app-menu__icon fa fa-edit" aria-hidden="true"></i><span class="app-menu__label">Serviço</span><i class="treeview-indicator fa fa-angle-right" aria-hidden="true"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" th:href="@{/admin/servico/cadastro}"></i>Cadastrar</a></li>
                    <li><a class="treeview-item" th:href="@{/admin/servico/lista}"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview"><a class="app-menu__item" href="" data-toggle="treeview"><i class="app-menu__icon fa fa-edit" aria-hidden="true"></i><span class="app-menu__label">Usuário</span><i class="treeview-indicator fa fa-angle-right" aria-hidden="true"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" th:href="@{/admin/usuario/cadastro}"></i>Cadastrar</a></li>
                    <li><a class="treeview-item" th:href="@{/admin/usuario/lista}"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview"><a class="app-menu__item" href="" data-toggle="treeview"><i class="app-menu__icon fa fa-edit" aria-hidden="true"></i><span class="app-menu__label">Grupo</span><i class="treeview-indicator fa fa-angle-right" aria-hidden="true"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" th:href="@{/admin/role/cadastro}"></i>Cadastrar</a></li>
                    <li><a class="treeview-item" th:href="@{/admin/role/lista}"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview"><a class="app-menu__item" href="" data-toggle="treeview"><i class="app-menu__icon fa fa-edit" aria-hidden="true"></i><span class="app-menu__label">Permissão</span><i class="treeview-indicator fa fa-angle-right" aria-hidden="true"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" th:href="@{/admin/permissao/cadastro}"></i>Cadastrar</a></li>
                    <li><a class="treeview-item" th:href="@{/admin/permissao/lista}"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview"><a class="app-menu__item" href="" data-toggle="treeview"><i class="app-menu__icon fa fa-edit" aria-hidden="true"></i><span class="app-menu__label">Escopo</span><i class="treeview-indicator fa fa-angle-right" aria-hidden="true"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" th:href="@{/admin/escopo/cadastro}"></i>Cadastrar</a></li>
                    <li><a class="treeview-item" th:href="@{/admin/escopo/lista}"></i>Listar</a></li>
                </ul>
            </li>
            <li class="treeview"><a class="app-menu__item" href="" data-toggle="treeview"><i class="app-menu__icon fa fa-edit" aria-hidden="true"></i><span class="app-menu__label">Direitos</span><i class="treeview-indicator fa fa-angle-right" aria-hidden="true"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" th:href="@{/admin/direito/cadastro}"></i>Cadastrar</a></li>
                    <li><a class="treeview-item" th:href="@{/admin/direito/lista}"></i>Listar</a></li>
                </ul>
            </li>
        </ul>
    </aside>
</nav>