<div class="row" th:fragment="widgets">
    <div class="col-md-3">
        <div class="widget-small primary"><i class="icon fa fa-television fa-3x" aria-hidden="true"></i>
            <div class="info">
                <a th:href="@{/series}"><h4 style="color: white;">Explorar</h4></a>
                <p><strong th:text="${usuarioLogado.getUsuario().getQtdSeries()}">5</strong></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget-small info"><i class="icon fa fa-bookmark fa-3x" aria-hidden="true"></i>
            <div class="info">
                <a th:href="@{/series/salvas}"><h4 style="color: white;	">Séries salvas</h4></a>
                <p><strong th:text="${usuarioLogado.getUsuario().getQtdSeries()}">25</strong></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget-small warning"><i class="icon fa fa-archive fa-3x" aria-hidden="true"></i>
            <div class="info">
                <a th:href="@{/series/arquivadas}"><h4 style="color: white;">Arquivadas</h4></a>
                <p><strong th:text="${usuarioLogado.getUsuario().getQtdSeriesArq()}"></strong></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget-small danger"><i class="icon fa fa-star fa-3x" aria-hidden="true"></i>
            <div class="info">
                <a th:href="@{/series/salvas}"><h4 style="color: white;	">Episódios</h4></a>
                <p><strong th:text="${usuarioLogado.getUsuario().getQtdEpisodios()}">25</strong></p>
            </div>
        </div>
    </div>
</div>