<div class="row" th:fragment="widgets" th:object="${usuario}">
    <div class="col-12 col-sm-6 col-xxl d-flex">
        <div class="card illustration flex-fill">
            <div class="card-body p-0 d-flex flex-fill">
                <div class="row no-gutters w-100">
                    <div class="col-6">
                        <div class="illustration-text p-3 m-1">
                            <h4 class="illustration-text" th:text="'Olá, ' + *{nome} + '!'"></h4>
                            <a href="/"><p class="mb-0">Descubra novas séries</p></a>
                        </div>
                    </div>
                    <div class="col-6 align-self-end text-right">
                        <img src="/img/customer.png" alt="Customer Support" class="img-fluid illustration-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl d-flex">
        <div class="card flex-fill">
            <div class="card-body py-4">
                <div class="media">
                    <div class="media-body">
                        <h3 class="mb-2" th:text="*{qtdSeries}"></h3>
                        <a th:href="@{/serie/salvas}"><p class="mb-2">Séries salvas</p></a>
                    </div>
                    <div class="d-inline-block ml-3">
                        <div class="stat">
                            <em data-feather="bookmark"></em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl d-flex">
        <div class="card flex-fill">
            <div class="card-body py-4">
                <div class="media">
                    <div class="media-body">
                        <h3 class="mb-2" th:text="*{qtdSeriesArq}"></h3>
                        <a th:href="@{/serie/arquivadas}"><p class="mb-2">Séries arquivadas</p></a>
                    </div>
                    <div class="d-inline-block ml-3">
                        <div class="stat">
                            <em data-feather="archive"></em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl d-flex">
        <div class="card flex-fill">
            <div class="card-body py-4">
                <div class="media">
                    <div class="media-body">
                        <h3 class="mb-2" th:text="*{qtdEpisodios}"></h3>
                        <a th:href="@{/episodio/marcados}"><p class="mb-2">Episódios marcados</p></a>
                    </div>
                    <div class="d-inline-block ml-3">
                        <div class="stat">
                            <em data-feather="check"></em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>