<div th:fragment="widgets_admin">
    <div class="row">
        <div class="col-md-3">
            <div class="widget-small primary coloured-icon"><i class="icon fa fa-edit fa-3x" aria-hidden="true"></i>
                <div class="info">
                    <h4>Categoria</h4>
                    <div class="row">
                        <a class="nav-link" href="admin/categoria/cadastro">Cadastrar</a>
                        <a class="nav-link" href="admin/categoria/lista">Listar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-small info coloured-icon"><i class="icon fa fa-edit fa-3x" aria-hidden="true"></i>
                <div class="info">
                    <h4>Série</h4>
                    <div class="row">
                        <a class="nav-link" href="admin/serie/cadastro">Cadastrar</a>
                        <a class="nav-link" href="admin/serie/lista">Listar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-small warning coloured-icon"><i class="icon fa fa-edit fa-3x" aria-hidden="true"></i>
                <div class="info">
                    <h4>Serviço</h4>
                    <div class="row">
                        <a class="nav-link" href="admin/servico/cadastro">Cadastrar</a>
                        <a class="nav-link" href="admin/servico/lista">Listar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-small danger coloured-icon"><i class="icon fa fa-edit fa-3x" aria-hidden="true"></i>
                <div class="info">
                    <h4>Usuário</h4>
                    <div class="row">
                        <a class="nav-link" href="admin/usuario/cadastro">Cadastrar</a>
                        <a class="nav-link" href="admin/usuario/lista">Listar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="widget-small danger coloured-icon"><i class="icon fa fa-edit fa-3x" aria-hidden="true"></i>
                <div class="info">
                    <h4>Grupo</h4>
                    <div class="row">
                        <a class="nav-link" href="admin/role/cadastro">Cadastrar</a>
                        <a class="nav-link" href="admin/role/lista">Listar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-small warning coloured-icon"><i class="icon fa fa-edit fa-3x" aria-hidden="true"></i>
                <div class="info">
                    <h4>Permissão</h4>
                    <div class="row">
                        <a class="nav-link" href="admin/permissao/cadastro">Cadastrar</a>
                        <a class="nav-link" href="admin/permissao/lista">Listar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-small info coloured-icon"><i class="icon fa fa-edit fa-3x" aria-hidden="true"></i>
                <div class="info">
                    <h4>Escopo</h4>
                    <div class="row">
                        <a class="nav-link" href="admin/escopo/cadastro">Cadastrar</a>
                        <a class="nav-link" href="admin/escopo/lista">Listar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget-small primary coloured-icon"><i class="icon fa fa-edit fa-3x" aria-hidden="true"></i>
                <div class="info">
                    <h4>Direitos</h4>
                    <div class="row">
                        <a class="nav-link" href="admin/direito/cadastro">Cadastrar</a>
                        <a class="nav-link" href="admin/direito/lista">Listar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>