<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}">
<head>
    <title>Lista de escopos</title>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Lista de escopos</h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item">Escopo</li>
                <li class="breadcrumb-item"><a th:href="@{#}">Listar</a></li>
            </ul>
        </div>
        <div class="container">
			<div class="tile">
                <div class="tile-body">
					<form class="form-inline" method="GET" th:object="${escopoFilter}">
						<div class="col-auto">
							<div class="form-group">
								<input type="text" class="form-control" name="nome" id="nome" th:field="*{nome}" placeholder="Nome">
							</div>
						</div>
						<div class="col-md-1">
							<button type="submit" class="btn btn-md btn-primary">Pesquisar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
        <div class="container">
			<div class="tile">
                <div class="tile-body">
					<div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div th:replace="fragments/alert"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<div class="dataTables_length" id="sampleTable_length">
									<label>
										<select class="form-control form-control-md" id="pageSizeSelect">
											<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:selected="${pageSize} == ${size}"></option>
										</select>
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<table class="table table-bordered table-hover" id="sampleTable" escopo="grid" aria-describedby="sampleTable_info">
									<thead>
										<tr>
											<th scope="col">Name</th>
											<th scope="col" style="text-align: center;">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="escopo :${pagina.conteudo}">
											<td data-tile="nome" th:text="${escopo.nome}"></td>
											<td data-tile="Detalhes" style="text-align: center;">
												<a title="Detalhes" th:href="@{/escopo/detalhes/{id}(id=${escopo.id})}" class="btn btn-warning btn-sm">Detalhes</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div th:replace="fragments/pagination :: pagination"></div>
								<div class="tile-footer">
									<a title="Adicionar" class="btn btn-success" th:href="@{/escopo/cadastro}">Adicionar</a>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script>
			$(document).ready(function(){
				changePageAndSize();
			});
			
			function changePageAndSize(){
				$('#pageSizeSelect').change(function(e){
					window.location.replace("/escopo/lista?size="+this.value+"&page=0");
				});
			}
		</script>
	</th:block>
</body>
</html>