<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title>Remover escopo</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Remover</i></h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
                <li class="breadcrumb-item"><a th:href="@{/escopo/lista}">Pesquisar escopo</a></li>
            </ul>
        </div>
        <div class="container">
			<div class="tile">
				<h3 class="tile-title" th:object="${escopo}" th:text="*{nome}"></h3>
                <div class="tile-body tile-footer">
                    <form th:action="@{/escopo/remover}" th:object="${escopo}" method="post" autocomplete="off">
						<input type="hidden" th:field="*{id}">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label class="control-label">Nome</label>
								<h4 th:text="*{nome}"></h4>
							</div>
						</div>
                        <div class="tile-footer">
							<button class="btn btn-danger" type="submit"><i class="fa fa-fw fa-floppy-o" aria-hidden="true"></i>Remover</button>
							<a th:href="@{/escopo/detalhes/{id}(id=${escopo.id})}" class="btn btn-secondary"><i class="fa fa-fw fa-times-circle" aria-hidden="true"></i>Cancelar</a>
						</div>
                    </form>
                </div>
            </div>
        </div>
	</section>
</body>
</html>