<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="login-content">
        <div class="logo">
            <h1>Televisivo</h1>
        </div>
        <div th:if="${acao}">
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                   <span th:text="${mensagem}"></span>
            </div>
        </div>
        <div class="cadastro-box">
            <form class="login-form" method="POST" th:action="@{/cadastrar}">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user" aria-hidden="true"></i>Cadastro</h3>
                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <input class="form-control" type="text" id="email" name="email" placeholder="E-mail" autofocus>
                </div>
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome" autofocus>
                </div>
                <div class="form-group">
                    <label class="control-label">Apelido</label>
                    <input class="form-control" type="text" id="apelido" name="apelido" placeholder="Apelido" autofocus>
                </div>
                <div class="form-group">
                    <label class="control-label">Senha</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Senha">
                </div>
                <div class="form-group">
                    <div class="utility">
                        <div class="animated-checkbox">                            
                        </div>
                    </div>
                </div>
                <div class="form-group btn-container">
                    <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw" aria-hidden="true"></i>Cadastrar</button>
                </div>
            </form>
        </div>
        
        <div class="login-box">
            <form class="login-form" method="POST" th:action="@{/login}">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user" aria-hidden="true"></i>Login</h3>
                <div class="form-group">
                    <label class="control-label">Usuário</label>
                    <input class="form-control" type="text" id="email" name="email" placeholder="E-mail" autofocus>
                </div>
                <div class="form-group">
                    <label class="control-label">Senha</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Senha">
                </div>
                <div class="form-group">
                    <div class="utility">
                        <div class="animated-checkbox">
                            <label>
                                <input type="checkbox" id="checkRemenberMe" name="checkRemenberMe"><span class="label-text">Mantenha-se conectado</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group btn-container">
                    <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw" aria-hidden="true"></i>Entrar</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>