<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Cadastro</title>
	<link rel="shortcut icon" href="img/favicon.ico">
	<link class="js-stylesheet" href="css/light.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body data-theme="colored" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
	<div class="main d-flex justify-content-center w-100">
		<main class="content d-flex p-0">
			<div class="container d-flex flex-column">
				<div class="row h-100">
					<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
						<div class="d-table-cell align-middle">
							<div class="text-center mt-4">
								<h1 class="h2">Cadastro</h1>
							</div>
							<div th:replace="fragments/alert"></div>
							<div class="card">
								<div class="card-body">
									<div class="m-sm-4">
										<form th:action="@{/salvar}" method="POST" th:object="${usuario}">
											<div class="form-group">
												<label>Nome</label>
												<input required th:field="*{nome}" class="form-control form-control-lg" type="text" name="nome" placeholder="Digite seu nome" autofocus spellcheck="false" th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'">
												<div class="invalid-feedback">
													<span th:errors="*{nome}"></span>
												</div>
											</div>
											<div class="form-group">
												<label>Sobrenome</label>
												<input required th:field="*{sobrenome}" class="form-control form-control-lg" type="text" name="sobrenome" placeholder="Digite seu sobrenome" spellcheck="false" th:classappend="${#fields.hasErrors('sobrenome')} ? 'is-invalid'">
												<div class="invalid-feedback">
													<span th:errors="*{sobrenome}"></span>
												</div>
											</div>
											<div class="form-group">
												<label>Username</label>
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text">@</span>
													</div>
													<input required th:field="*{username}" type="text" class="form-control form-control-lg" placeholder="Digite seu username" spellcheck="false" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'">
													<div class="invalid-feedback">
														<span th:errors="*{username}"></span>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label>Email</label>
												<input required th:field="*{email}" class="form-control form-control-lg" type="email" name="email" placeholder="Digite seu email" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'">
												<div class="invalid-feedback">
													<span th:errors="*{email}"></span>
												</div>
											</div>
											<div class="form-group">
												<label>Gênero</label>
												<select required th:field="*{genero}" class="form-control form-control-lg" name="genero">
													<option value="">Selecione uma opção</option>
													<option th:each="genero : ${generos}" th:value="${genero}" th:text="${genero.descricao}" th:classappend="${#fields.hasErrors('genero')} ? 'is-invalid'"></option>
												</select>
												<div class="invalid-feedback">
													<span th:errors="*{genero}"></span>
												</div>
											</div>
											<div class="form-group">
												<label>Senha</label>
												<input required th:field="*{password}" class="form-control form-control-lg" type="password" name="password" placeholder="Digite sua senha" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'">
												<div class="invalid-feedback">
													<span th:errors="*{password}"></span>
												</div>
											</div>
											<div class="form-group">
												<label>Confirme a senha</label>
												<input required th:field="*{contraSenha}" class="form-control form-control-lg" type="password" name="contraSenha" placeholder="Digite sua senha novamente" th:classappend="${#fields.hasErrors('contraSenha')} ? 'is-invalid'">
												<div class="invalid-feedback">
													<span th:errors="*{contraSenha}"></span>
												</div>
											</div>
											<div class="text-center mt-3">
												<button type="submit" class="btn btn-lg btn-primary">Cadastrar</button>
											</div>
											<div class="form-group mt-3">
												<p class="semibold-text mb-0"><a href="/sign-in"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i>Volte ao login</a></p>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
</html>