<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layoutUsuario}">
<head>
    <title>Séries arquivadas</title>
</head>
<body>
	<section layout:fragment="body">
		<div class="app-title">
			<h1>Séries arquivadas</h1>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
				<li class="breadcrumb-item">Série</li>
				<li class="breadcrumb-item"><a href="#">Arquivadas</a></li>
			</ul>
		</div>
		<div th:replace="fragments/alert"></div>
		<div th:replace="fragments/widgets :: widgets"></div>
		<form th:action="@{/series/desarquivar}" method="POST">
			<div class="card-columns">
				<div class="card" th:each="usuarioSerie :${lista}">
					<div class="card-body">
						<a class="card-link" th:href="@{/series/{id}/detalhes(id=${usuarioSerie.id})}"><h5 class="card-title" th:text="*{usuarioSerie.nome}"></h5></a>
						<p class="card-text" th:text="*{usuarioSerie.enredo}"></p>
						<button class="btn btn-secondary" type="submit" name="desarquivar" th:value="*{usuarioSerie.id}">Desarquivar</button>
						<button class="btn btn-danger" type="submit" name="remover" th:value="*{usuarioSerie.id}">Remover</button>
					</div>
				</div>
			</div>
		</form>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script>
			$(document).ready(function(){
				changePageAndSize();
			});

			function changePageAndSize(){
				$('#pageSizeSelect').change(function(e){
					window.location.replace("/series?tamanho="+this.value+"&pagina=0");
				});
			}
		</script>
	</th:block>
</body>
</html>