
<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template}">
<head>
    <title th:text="*{atributo.nome}"></title>
</head>
<body>
	<main layout:fragment="main">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item"><a th:text="${breadcrumb}">Categoria</a></li>
                <li class="breadcrumb-item active" th:text="*{atributo.nome}"></li>
			</ol>
		</nav>
		<div class="container-fluid p-0">
			<h1 class="h3 mb-3" th:text="*{atributo.nome}"></h1>
			<div th:replace="fragments/alert"></div>
			<div th:replace="fragments/widgets :: widgets"></div>
			<form th:action="@{/acao}" method="POST">
				<div class="row">
					<div class="col-12 col-md-6 col-lg-2" th:each="serie :${lista}">
						<div class="card">
							<img class="card-img-top" th:src="@{${serie.photoImagePath}}" onerror="src='/img/serie.jpg'" alt="Capa">
							<div class="card-header px-4 pt-4">
								<a th:href="@{/series/{id}/detalhes(id=${serie.id})}"><h5 class="h6 card-title" th:text="*{serie.nome} + ' - ' + *{serie.ano}"></h5></a>
								<a class="badge badge-primary mr-1 my-1" th:each="categoria : *{serie.categorias}" th:href="@{/categoria/{id}(id=*{categoria.id})}" th:text="*{categoria.nome}"></a>
							</div>
							<div class="card-body">
								<button th:class="${serie.salva} ? 'btn btn-secondary' : (${serie.arquivada} ? 'btn btn-secondary' : 'btn btn-success')" type="submit" th:name="${serie.salva} ? 'arquivar' : (${serie.arquivada} ? 'desarquivar' : 'salvar')" th:value="${serie.id}" th:text="${serie.salva} ? 'Arquivar' : (${serie.arquivada} ? 'Desarquivar' : 'Salvar')"></button>
								<button th:if="${serie.salva} OR ${serie.arquivada}" class="btn btn-danger" type="submit" name="remover" th:value="*{serie.id}">Remover</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>
	<th:block layout:fragment="javascript-extra">
	</th:block>
</body>
</html>