<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template}">
<head>
    <title th:object="${serie}" th:text="${serie.nome}"></title>
</head>
<body>
	<main layout:fragment="main" th:object="${serie}">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item"><a>Série</a></li>
                <li class="breadcrumb-item active" th:text="*{nome}"></li>
			</ol>
		</nav>
		<div class="container-fluid p-0">
			<h1 class="h3 mb-3" th:text="*{nome} + ' - ' + *{ano}"></h1>
			<div th:replace="fragments/alert"></div>
			<div class="row">
                <div class="col-md-3 col-xl-3">
                    <div class="card">
                        <img class="card-img-top" th:src="@{*{photoImagePath}}" onerror="src='/img/serie.jpg'" alt="Poster da série">
                        <form class="card-header" th:action="@{/acao}" method="POST">
                            <button th:class="*{salva} ? 'btn btn-secondary' : (*{arquivada} ? 'btn btn-secondary' : 'btn btn-success')" type="submit" th:name="*{salva} ? 'arquivar' : (*{arquivada} ? 'desarquivar' : 'salvar')" th:value="*{id}" th:text="*{salva} ? 'Arquivar' : (*{arquivada} ? 'Desarquivar' : 'Salvar')"></button>
                            <button th:if="*{salva} OR *{arquivada}" class="btn btn-danger" type="submit" name="remover" th:value="*{id}">Remover</button>
                        </form>
                        <hr class="my-0">
                        <div class="card-body">
                            <h5 class="h6 card-title">Categorias</h5>
                            <a th:href="@{/categoria/{id}(id=${categoria.id})}" class="badge badge-primary mr-1 my-1" th:each="categoria : *{categorias}" th:text="${categoria.nome}">HTML</a>
                        </div>
                        <hr class="my-0">
                        <div class="card-body">
                            <h5 class="h6 card-title">Sobre</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">
                                    Restrição de
                                    <span th:text="*{restricao}"></span>
                                    anos
                                </li>
                                <li class="mb-1">
                                    Serviço
                                    <a th:href="@{/servico/{id}(id=*{servico.id})}" th:text="*{servico.nome}"></a>
                                </li>
                                <li class="mb-1">
                                    <span th:text="*{qtdTemporadas} > 1 ? *{qtdTemporadas} + ' temporadas' : (*{qtdTemporadas} == 0 ? 'Nenhuma temporada' : *{qtdTemporadas} + ' temporada')"></span>
                                </li>
                                <li class="mb-1">
                                    <span th:text="*{qtdSeguidores} > 1 ? *{qtdSeguidores} + ' seguidores' : (*{qtdSeguidores} == 0 ? 'Nenhum seguidor' : *{qtdSeguidores} + ' seguidor')"></span>
                                </li>
                            </ul>
                        </div>
                        <hr class="my-0">
                        <div class="card-body">
                            <h5 class="h6 card-title">Enredo</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">
                                    <p th:text="*{enredo}"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xl-9">
                    <form th:action="@{/acao}" method="POST">
                        <div class="accordion" id="accordionExample">
                            <div class="card" th:each="temporada : ${temporadas}">
                                <div class="card-header" th:id="'heading' + ${temporada.id}">
                                    <h5 class="card-title mb-0">
                                        <a data-toggle="collapse" th:data-target="'#collapse' + ${temporada.id}" aria-expanded="" th:aria-controls="'collapse' + ${temporada.id}" class="" th:text="'Temporada ' + ${temporada.numero}"></a>
                                    </h5>
                                </div>
                                <div th:id="'collapse' + ${temporada.id}" class="collapse" th:aria-labelledby="'collapse' + ${temporada.id}" data-parent="#accordionExample" style="">
                                    <div class="card-body">
                                        <table class="table table-hover" aria-describedby="Listagem de episódios">
                                            <tbody>
                                                <tr th:each="episodio : ${temporada.episodios}">
                                                    <th style="width:15%;" scope="row" th:text="'Episódio ' + ${episodio.numero}"></th>
                                                    <td style="width:20%" th:text="${episodio.nome}"></td>
                                                    <td style="width:15%" th:text="${episodio.duracao} + ' min.'"></td>
                                                    <td>
                                                        <button th:class="${episodio.marcado ? 'btn badge badge-danger text-white' : 'btn badge badge-success text-white'}" type="submit" th:name="${episodio.marcado ? 'desmarcar' : 'marcar'}" th:value="${episodio.id}" th:text="${episodio.marcado ? 'Desmarcar' : 'Marcar'}"></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
		</div>
	</main>
	<th:block layout:fragment="javascript-extra">
	</th:block>
</body>
</html>