<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}">
<head>
    <title>Séries salvas</title>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Séries salvas</h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item">Direito</li>
                <li class="breadcrumb-item"><a th:href="@{#}">Listar</a></li>
            </ul>
		</div>
        <div class="container">
			<div class="tile">
                <div class="tile-body">
					<div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div th:replace="fragments/alert"></div>
							</div>
						</div>
						<!-- <div class="form-row">
							<form method="GET" th:object="${rolePermissaoFilter}">
								<div class="input-group mb-3">
									<input type="text" class="form-control" id="nome" name="nome" th:field="*{role}" placeholder="Role" aria-label="Role">
									<input type="text" class="form-control" id="permissao" name="permissao" th:field="*{permissao}" placeholder="Permissão" aria-label="Permissão">
									<div class="input-group-append">
										<button class="input-group-text">Pesquisar</button>
									</div>
								</div>
							</form>
						</div> -->
						<div class="row">
							<div class="col-md-12">
								<table class="table table-bordered table-hover" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
									<thead>
										<tr>
											<th scope="col">Nome</th>
											<th scope="col">Enredo</th>
											<th scope="col" style="text-align: center;">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="usuarioSerie :${lista}">
											<td data-tile="Grupo" th:text="${usuarioSerie.nome}"></td>
											<td data-tile="Permissão" th:text="${usuarioSerie.enredo}"></td>
											<td data-tile="Remover" style="text-align: center;">
												<a title="Remover" th:href="@{./remover/{usuario}/{serie}(usuario=${usuarioLogado.getUsuario().getId()}, serie=${usuarioSerie.id})}" class="btn btn-danger btn-sm">Remover</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="tile-footer">
									<a title="Adicionar" class="btn btn-success" th:href="@{./cadastro}">Adicionar</a>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script>
			$(document).ready(function(){
				changePageAndSize();
			});
			
			function changePageAndSize(){
				$('#pageSizeSelect').change(function(e){
					window.location.replace("/usuario/lista?size="+this.value+"&page=0");
				});
			}
		</script>
	</th:block>
</body>
</html>