<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}">
<head>
    <title>Lista de séries</title>
</head>
<body>
	<section layout:fragment="body">
		<div class="app-title">
			<h1>Lista de séries</h1>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
				<li class="breadcrumb-item">Série</li>
				<li class="breadcrumb-item"><a href="#">Salvas</a></li>
			</ul>
		</div>
		<div class="tile">
			<a th:href="@{/series}" type="button" class="btn btn-primary">Explorar <span class="badge badge-light" th:text="${usuarioLogado.getUsuario().getQtdSeries()}"></span></a>
			<a th:href="@{/series/salvas}" type="button" class="btn btn-primary">Salvas <span class="badge badge-light" th:text="${usuarioLogado.getUsuario().getQtdSeries()}"></span></a>
			<a th:href="@{/series/arquivadas}" type="button" class="btn btn-primary">Arquivadas <span class="badge badge-light" th:text="${usuarioLogado.getUsuario().getQtdSeriesArq()}"></span></a>
		</div>
		<div class="tile">
			<div class="tile-body">
				<div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div th:replace="fragments/alert"></div>
						</div>
					</div>
					<form th:action="@{/series/arquivar}" method="POST">
						<div class="card-columns">
							<div class="card" th:each="usuarioSerie :${lista}">
								<div class="card-body">
									<a class="card-link" th:href="@{/series/{id}/detalhes(id=${usuarioSerie.id})}"><h5 class="card-title" th:text="*{usuarioSerie.nome}"></h5></a>
									<p class="card-text" th:text="*{usuarioSerie.enredo}"></p>
									<button class="btn btn-secondary" type="submit" name="arquivar" th:value="*{usuarioSerie.id}">Arquivar</button>
									<button class="btn btn-danger" type="submit" name="remover" th:value="*{usuarioSerie.id}">Remover</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script>
			$(document).ready(function(){
				changePageAndSize();
			});

			function changePageAndSize(){
				$('#pageSizeSelect').change(function(e){
					window.location.replace("/series?tamanho="+this.value+"&pagina=0");
				});
			}
		</script>
	</th:block>
</body>
</html>