<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title>Detalhes da temporada</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Detalhes</i></h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
                <li class="breadcrumb-item"><a th:href="@{/temporada/lista}">Pesquisar temporada</a></li>
            </ul>
        </div>
        <div class="container">
			<div class="tile">
				<h3 class="tile-title" th:object="${temporada}" th:text="'Temporada ' + *{numero}"></h3>
                <div class="tile-body tile-footer">
                    <form th:object="${temporada}">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label class="control-label">Ano</label>
									<h4 th:text="*{ano}"></h4>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label class="control-label">Avaliação</label>
									<h4 th:text="*{avaliacao}"></h4>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label class="control-label">Quantidade de episodios</label>
									<h4 th:text="*{qtd_episodios}"></h4>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label class="control-label">Quantidade de episodios</label>
									<h4 th:text="*{qtd_episodios}"></h4>
								</div>
							</div>
						</div>
						<label class="control-label">Episodios</label>
						<div class="form-row" th:each="episodios, rowStat :*{episodios}">
							<div class="col-md-5 mb-1">
								<a th:href="@{/serie/temporada/episodio/detalhes/{id}(id=*{episodios[__${rowStat.index}__].id})}" type="button" class="btn btn-primary">Episodio <span class="badge badge-light" th:text="*{episodios[__${rowStat.index}__].numero}"></span></a>
								<!-- <a type="button" class="btn btn-primary">Publicacao <span class="badge badge-light" th:text="*{episodios[__${rowStat.index}__].publicacao}"></span></a> -->
							</div>
						</div>
                        <div class="tile-footer">
							<a title="Alterar" class="btn btn-info btn-lg fa fa-pencil" th:href="@{/serie/temporada/alterar/{id}(id=${temporada.id})}" aria-hidden="true" temporada="button"></a>
							<a title="Fechar" class="btn btn-secondary btn-lg fa fa-times-circle" th:href="@{/serie/detalhes/{id}(id=${temporada.serie.id})}" aria-hidden="true" temporada="button"></a>
						</div>
                    </form>
                </div>
            </div>
        </div>
	</section>
    <th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/bootstrap-switch.min.js}"></script>
		<script type="text/javascript">
            $('.js-status').bootstrapSwitch();
        </script>
	</th:block>
</body>
</html>