<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title>Remover temporada</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Remover</i></h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
                <li class="breadcrumb-item"><a th:href="@{/temporada/lista}">Pesquisar temporada</a></li>
            </ul>
        </div>
        <div class="container">
			<div class="tile" th:object="${temporada}">
				<h3 class="tile-title" th:text="'Temporada ' + *{numero}">Serie</h3>
                <div class="tile-body tile-footer">
                    <label class="control-label">Ano</label>
                    <h4 th:text="*{ano}"></h4>
                    <label class="control-label">Avaliação</label>
                    <h4 th:text="*{avaliacao}"></h4>
                    <label class="control-label">Quantidade de episodios</label>
                    <h4 th:text="*{qtdEpisodios}"></h4>
                </div>
				<label class="control-label">Episodios</label>
				<div class="form-row" th:each="episodio : ${episodios}">
					<div class="col-md-5 mb-1">
						<a type="button" class="btn btn-primary">Episodio <span class="badge badge-light" th:text="${episodio.numero}"></span></a>
					</div>
				</div>
				<form th:action="@{/serie/{idSerie}/temporada/{idTemporada}/remover(idSerie=${temporada.serie.id}, idTemporada=${temporada.id})}" method="post" autocomplete="off">
					<input type="hidden" th:field="*{id}">
					<div class="tile-footer">
						<button type="submit" class="btn btn-danger" formnovalidate="formnovalidate">Remover</button>
						<button class="btn btn-secondary" type="submit" name="cancelar" value="cancelar">Cancelar</button>
					</div>
				</form>
            </div>
        </div>
	</section>
</body>
</html>