<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title>Alterar temporada</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Alterar</h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
                <li class="breadcrumb-item"><a th:href="@{/temporada/lista}">Pesquisar temporada</a></li>
            </ul>
        </div>
        <div class="container">
			<div class="tile">
				<h3 class="tile-title" th:text="'Temporada ' + ${temporada.numero}"></h3>
                <div class="tile-body tile-footer">
                    <form th:object="${temporada}" th:action="@{/serie/temporada/alterar}" method="post" autocomplete="off">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div th:replace="fragments/validation :: validation"></div>
								<div th:replace="fragments/alert"></div>
							</div>
                        </div>
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{serie.id}">
                        <div class="form-row">
							<div class="col-md-4 mb-3">
                                <label for="numero">Numero</label>
                                <Input class="form-control" type="text" placeholder="Enter numero" th:field="*{numero}" id="numero" name="numero" th:classappend="${#fields.hasErrors('numero')} ? 'is-invalid'">
                                <div class="invalid-feedback">
                                    <span th:errors="*{numero}"></span>
                                </div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4 mb-3">
                                <label for="ano">Ano</label>
                                <Input class="form-control" type="text" placeholder="Enter ano" th:field="*{ano}" id="ano" name="ano" th:classappend="${#fields.hasErrors('ano')} ? 'is-invalid'">
                                <div class="invalid-feedback">
                                    <span th:errors="*{ano}"></span>
                                </div>
							</div>
						</div>
                        <div>
                            <label class="control-label">Episodios</label>
							<fieldset>
                                <div class="form-row" th:each="episodios, rowStat :*{episodios}">
                                    <div class="col-md-2">
                                        <input type="hidden" th:field="*{episodios[__${rowStat.index}__].id}"/>
                                        <input type="hidden" th:field="*{temporada.serie.id}">
                                        <label>Número da temporada</label>
                                        <input type="number" placeholder="Número" class="form-control" th:field="*{episodios[__${rowStat.index}__].numero}"/>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Nome do episodio</label>
                                        <input type="text" placeholder="Nome" class="form-control" th:field="*{episodios[__${rowStat.index}__].nome}"/>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Enredo</label>
                                        <input type="text" placeholder="Número" class="form-control" th:field="*{episodios[__${rowStat.index}__].enredo}"/>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Duração</label>
                                        <input type="number" placeholder="Número" class="form-control" th:field="*{episodios[__${rowStat.index}__].duracao}"/>
                                    </div>
                                    <!-- <div class="col-md-2">
                                        <label>Publicação</label>
                                        <input type="date" placeholder="Número" class="form-control" th:field="*{episodios[__${rowStat.index}__].publicacao}"/>
                                    </div> -->
                                    <div class="col-md-1">
                                        <label>Remover</label>
                                        <button class="btn btn-danger" type="submit" name="removerow" th:value="${rowStat.index}"><i class="fa fa-minus" style="color: white"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit" name="addrow" value="addrow"><i class="fa fa-fw fa-lg fa-plus" style="color: white"></i></button>
                                </div>
							</fieldset>
						</div>
                        <div class="tile-footer">
							<button class="btn btn-success" type="submit"><i class="fa fa-fw fa-floppy-o" aria-hidden="true"></i>Salvar</button>
							<a th:href="@{/serie/temporada/detalhes/{id}(id=${temporada.id})}" class="btn btn-secondary"><i class="fa fa-fw fa-times-circle" aria-hidden="true"></i>Cancelar</a>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>