<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}">
<head>
    <title th:text="*{id == null} ? 'Cadastrar role' : 'Alterar role'"></title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1 th:text="*{id == null} ? 'Cadastrar role' : 'Alterar role'"></h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item"><a th:href="*{id == null} ? @{#} : @{./detalhes}">Role</a></li>
                <li class="breadcrumb-item"><a href="#salvar" th:text="*{id == null} ? 'Cadastrar' : 'Alterar'"></a></li>
            </ul>
        </div>
        <div class="container">
			<div class="tile" th:object="${role}">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div th:replace="fragments/validation :: validation"></div>
                        <div th:replace="fragments/alert"></div>
                    </div>
                </div>
				<h3 class="tile-title" th:text="*{id == null} ? 'Nova role' : *{nome}"></h3>
                <div class="tile-body tile-footer">
                    <form th:action="*{id == null} ? @{./salvar} : @{./alterar}" method="POST">
						<input type="hidden" th:field="*{id}">
                        <div class="form-row">
							<div class="col-md-4 mb-3">
								<label for="nome">Nome</label>
								<Input required class="form-control" type="text" autofocus placeholder="Nome" th:field="*{nome}" id="nome" name="nome" th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'">
								<div class="invalid-feedback">
									<span th:errors="*{nome}"></span>
								</div>
							</div>
						</div>
                        <div id="salvar" class="tile-footer">
							<button class="btn btn-success" type="submit">Salvar</button>
							<button class="btn btn-secondary" type="submit" name="cancelar" formnovalidate>Cancelar</button>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>