<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}">
<head>
    <title>Remover direito</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Remover direito</i></h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item"><a th:href="@{./detalhes}"></a>Direito</li>
                <li class="breadcrumb-item"><a href="#remover">Remover</a></li>
            </ul>
        </div>
        <div class="container" th:object="${rolePermissao}">
			<div class="tile">
				<h3 class="tile-title" th:text="*{role.nome} + ' | ' + *{permissao.nome} + ' | ' + *{escopo.nome}"></h3>
                <div class="tile-body tile-footer">
					<label class="control-label">Role</label>
					<h4 th:text="*{role.nome}"></h4>
					<label class="control-label">Permissao</label>
					<h4 th:text="*{permissao.nome}"></h4>
					<label class="control-label">Escopo</label>
					<h4 th:text="*{escopo.nome}"></h4>
                </div>
				<form id="remover" th:action="@{./remover}" method="POST">
					<input type="hidden" th:value="*{id.role}">
					<input type="hidden" th:value="*{id.permissao}">
					<input type="hidden" th:value="*{id.escopo}">
					<div class="tile-footer">
						<button class="btn btn-danger" type="submit"></i>Remover</button>
						<button class="btn btn-secondary" type="submit" name="cancelar" formnovalidate>Cancelar</button>
					</div>
				</form>
            </div>
        </div>
	</section>
</body>
</html>