<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout}">
<head>
    <title>Remover serviço</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
</head>
<body>
    <section layout:fragment="body">
        <div class="app-title">
            <h1>Remover serviço</i></h1>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item"><a th:href="@{./detalhes}"></a>Serviço</li>
                <li class="breadcrumb-item"><a href="#remover">Remover</a></li>
            </ul>
        </div>
        <div class="container" th:object="${servico}">
			<div class="tile">
				<h3 class="tile-title" th:text="*{nome}"></h3>
                <div class="tile-body tile-footer">
                    <label class="control-label">Nome</label>
                    <h4 th:text="*{nome}"></h4>
                </div>
                <form id="remover" th:action="@{./remover}" method="POST">
                    <input type="hidden" th:field="*{id}">
                    <div class="tile-footer">
                        <button type="submit" class="btn btn-danger">Remover</button>
                        <button class="btn btn-secondary" type="submit" name="cancelar">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
	</section>
</body>
</html>